@use "colors" as *;
@use "mixins" as *;
@use "list-item" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  $height: 48px;

  color: map-get(map-get($pweb-accent-palette, contrast), 500);
  background-color: map-get($pweb-primary-palette, 500);
  height: $height;
  padding: 0 8px;
  position: relative;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);

  h2 {
    margin: 0;
    line-height: $height;
  }
}

.mat-sidenav-container {
  flex-grow: 1;
}

.mat-sidenav {
  width: 300px;
}

.sidenav-route {
  @include list-item;
}

.current-user-button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 16px;
  right: 16px;

  @include avatar(64px);

  img {
    @include avatar(64px);
  }
}

.mat-fab {
  z-index: 2;
  position: fixed;
  bottom: 16px;
  right: 16px;

  width: unset;
  border-radius: 50px;

  .fab-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;

    span {
      letter-spacing: 1.25px;
    }
  }
}
