<div class="toolbar">
  <h2>PWeb App Title</h2>

  <div *ngIf="currentUser$ | async as currentUser"
       (click)="openUserSettings(currentUser)"
       mat-ripple
       class="current-user-button">
    <img [src]="currentUser.picture" alt="profile picture"/>
  </div>
</div>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div *ngFor="let route of routes"
         class="sidenav-route"
         mat-ripple
         role="button"
         [routerLink]="route.routerLink">
      <mat-icon fontSet="material-icons-outlined">{{ route.icon }}</mat-icon>
      <span>{{ route.name }}</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
