@use "theme" as *;

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mat-display-3 {
  font-family: $light-font-family;
  margin-bottom: 16px;
}

.mat-divider {
  margin-bottom: 16px;
}

.select-type-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;

  pweb-large-button {
    flex: 1 0;
  }
}

.create-sections {
  display: flex;
  gap: 32px;
}

.select-category,
mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 200px;
}

.radio-content {
  display: flex;
  align-items: center;

  mat-icon {
    margin-left: auto;
  }
}
