<ng-container *ngIf="currentUser$ | async as currentUser">
  <h1 class="mat-display-3">Welcome, {{ currentUser.username}}.</h1>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="post-section">
      <span class="mat-title">Your latest post</span>

      <pweb-post *ngIf="latestPost$ | async as latestPost else noPosts"
                 [post]="latestPost"
                 (updated)="refreshLatestPost()"
                 (deleted)="refreshLatestPost()"></pweb-post>

      <ng-template #noPosts>
        You don't have any posts yet. Click create to get started.
      </ng-template>
    </div>
  </div>
</ng-container>
