@use '@angular/material' as mat;
@use "theme" as *;
@use "colors" as *;

@include mat.core($pweb-typography);

@include mat.all-component-themes($pweb-fe-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.transparent-backdrop {
  background-color: transparent;
}

.no-padding > .mat-dialog-container {
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;

  button {
    color: map-get($pweb-primary-palette, 800);
    text-transform: capitalize;
  }
}

.mat-radio-label-content {
  flex-grow: 1;
  padding: 8px 16px;
}

.mat-slide-toggle-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.mat-fab.wide-fab {
  width: unset;
  border-radius: 50px;

  .fab-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;

    span {
      letter-spacing: 1.25px;
      text-transform: uppercase;
    }
  }
}

[routerLink] {
  outline: none !important;
}
