@use '@angular/material' as mat;
@use "theme" as *;
@use "colors" as *;

@include mat.core($pweb-typography);

@include mat.all-component-themes($pweb-fe-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.transparent-backdrop {
  background-color: transparent;
}

.no-padding > .mat-dialog-container {
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;

  button {
    color: map-get($pweb-primary-palette, 800);
    text-transform: capitalize;
  }
}
